@using EntityLayer.Concrete
 @model List<Category>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        th, td {
            padding: 15px;
            
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
    </style>
    <title>Category Table</title>
</head>
<body>
    <h1>Index</h1>
    <table>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Category Status</th>
            <th> </th>

           
        
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td><a href="#" class="btn btn-warning" > Detaylar </a></td>
               

                @if(@item.CategoryStatus == true)
                {
                    <td>Aktif</td>
                }
                else
                {
                    <td>Pasif</td>
                }
                <td><a href="#" class="btn btn-danger"> Sil </a></td>
            </tr>
        }
    </table>




</body>
</html>
        
