<div class="row">
  @*   <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 1,540</h1>

                <h3 class="font-bold no-margins">
                    <ul> Çeşitli Veriler
                        <li>En Çok İçerikli Kategori : @ViewBag.EnÇokBlogBarındıranKategori</li>
       
</ul>
                </h3>
                <small>Income form project Alpha.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div> *@
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Eklenen Blog</h1>
                <h2 class="font-bo  ld no-margins">
                    @ViewBag.SonYazilanBlog
                </h2>
                
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 5992</h1>

                <h3 class="font-bold no-margins">
                   Blog Site Kazancı 
                </h3>
                <small>Ürün Tanıtımları Promosyonlar Reklamlar Anlaşmalar.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>