
<div class="tech-btm">
	<h2>Bültenimize Abone Olun</h2>
	<p>PTeknoloji , Yazılım ve diğer bloglar </p>
	<form action="/NewsLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Abone Ol">
	</form>

</div>