
@{
    ViewData["Title"] = "BlogListExel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>BlogListExel</h1>
<br />
<br />
<br />
@* <button class="btn btn-outline-success" onclick="DownloadExelBlogList">Exel'e Aktar</button>
 *@

<a href="/Admin/Blog/ExportStaticExelBlogList" class="btn btn-outline-success"> Exele Aktar</a>
@* <script>
    function DownloadExelBlogList() {
        window.open("/Admin/Blog/ExportStaticExelBlogList");
    }


</script>

 *@