

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WriterLayout</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writer/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/writer/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/writer/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:~/writer//partials/_navbar.html -->
        @await Html.PartialAsync("~/Views/Writer/WriterHeaderPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:~/writer//partials/_sidebar.html -->
             @await Html.PartialAsync("~/Views/Writer/WriterNavbarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                    

                    </div>
                    @RenderBody()
                      
                    </div>
                </div>
               
               
              

            </div>
        @await Html.PartialAsync("~/Views/Writer/WriterFooterPartial.cshtml")
        </div>
       
    </div>
    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>

</body>
</html>

